.contact-container{
    width: 100%;
    height: auto;
    background:linear-gradient(to left,#1CB5E0,#000046);
    background-attachment: fixed;
    padding-top: 8vh;
    position: relative;
    display: flex;
    flex-direction: row;
}
.form-group{
    width: 50%;
    height: 92vh;
    background: transparent;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    border-right: #fff5 2px solid;

}
form{
    margin-top: 4vh;
    padding-left: 2vw;
    width: 70%;
    height: auto;
    background: #fff5;
    backdrop-filter: blur(10px);
    position: absolute;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px #2e493c,
    inset 2px 2px 2px 2px #a9d4ff;
}
input,textarea{
    padding-top: 1vh;
    padding-left: 2vw;
    display: block;
    margin: 1.5rem;
    margin-right: 0;
    margin-left: 5vw;
    background: transparent;
    border: 0px;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    
    color: aliceblue;
    
}
input::placeholder,textarea::placeholder{
    padding-left: 0;
    padding-top: 0;
    color: aliceblue;
}
input[type="submit"]{
    padding: 0;
    width:6rem;
    font-size: 15px;
    cursor:auto;
    border-radius: 10px;
    color: #fff;
    font-weight: 10000;
    background-color: #0e539c;
    backdrop-filter: blur(5px);
    text-transform: capitalize;
    transition: all 1s ease-in-out;
}
input[type="submit"]:hover{
    background-color: #1c9ec2;
    color: #000046;
}
input
{
    height: 6.5vh;
    width: 20rem;
}
.contact-details{
    width: 50%;
    height: 92vh;
    background: transparent;
    display: flex;
    justify-content: space-around;
    padding: 10vw;
    flex-direction: column;
    padding-top: 15vh;
}
.card{
    width: 100%;
    height: 10vh;
    padding: 2vh;
    color: rgb(251, 252, 253);
    background: #fff5;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px #000,
    inset 2px 2px 2px #fff;
}
.fa-address-book,.fa-envelope{
    font-size: 26px;
}
.fab{
    font-size: 28px;
}
@media screen and (max-width: 1024px), screen and (max-width:768px){
    .contact-container{
        display:block;
    }
.form-group{
    width: 100%;
    height: 80vh;
}
form
{
    height: auto;
}
input,textarea{
    padding: 0;
    width: 12rem;
}
.contact-details{
    width: 100%;
    height: 60vh;
    display: flex;
    padding-top: 8vh;
    

}
.card{
    
    padding-left: 1.5vh;
}
.fab
{
    font-size: 20px;
}
}