body{
    background: linear-gradient(#43C6AC,#191654);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;

}

/*gallery*/
/* The grid: Four equal columns that floats next to each other */
.gallery{
  margin-top: 8vh;
  width: 100%;
  height: 100%;
  position: absolute;
}
.row{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
.column {
  width: 15%;
  
}

/* Style the images inside the grid */
.column img {
  width: 200px;
  height: 200px;
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  
  display: none;
}
.container img{
  max-height: 400px;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background-color: #fff5;
  backdrop-filter: blur(2px);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-size: 20px;
  text-shadow: #fff 0px 0px 10px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: rgb(255, 0, 0);
  font-size: 35px;
  cursor: pointer;
}

@media screen and (max-width:768px) {
  .row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .column{
    margin: 10px;
  }
  .column img {
    width: 50px;
    height: 50px;
  }
}