@media screen and (max-width: 1024px)
{
    .nav-links
    {
        width: 60%;
    }
}
@media screen and (max-width:768px)
{
    body
    {
        overflow-x: hidden;
    }
    .nav-links
    {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgba(16, 24, 29, 0.63);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 110%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li
    {
        opacity: 1;
    }
    .nav-links li a
    {
        color:rgb(255, 115, 0) ;
    }
    
    .burger
    {
        display: block;
        cursor: pointer;
    }
    .about
    {
        overflow: scroll;
    }
    .blood
    {
        height: 50vh;
    }
    .blood .h1
    {
        font-size: 80px;
    }
}
.nav-active
{
    transform: translateX(0%);
}
@keyframes nav{
    from
    {
        opacity: 0;
        transform: translateX(50px);
    }
    to
    {
        opacity: 1;
        transform: translateX(0px);
    }
    
}
.toggle .line1
{
    transform: rotate(-45deg) translate(-5px,9px);

}
.toggle .line2
{
    opacity: 0;

}
.toggle .line3
{
    transform: rotate(45deg) translate(-5px,-9px);

}
