@media screen and (max-width: 1024px)
{
    .nav-links
    {
        width: 60%;
    }
    .contact form
    {
        margin-left: 15em;
    }
    .logo
    {
        margin: 0;
    }
    .logo img{
        width:1.8em;
        height:1.8em;
    }
}
@media screen and (max-width:768px)
{
    body
    {
        overflow-x: hidden;
    }
    .preloader
    {
        padding: 15em;
    padding-left: 8em;
    }
    .logo img{
        margin-top: 0;
    }
    
    .nav-links
    {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #134074c4;
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 65%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li
    {
        opacity: 1;
    }
    .nav-links li a
    {
        color:rgb(250, 248, 246) ;
    }
    .social{
        margin-bottom: 1em;
    }
    .burger
    {
        display: block;
        cursor: pointer;
    }
    .mySlides img{
    max-height: 120px;
    }
    .social-card
    {
        height: auto;
        flex-direction: column;
    }
    .upcoming-events
    {
        width: 90%;
        min-height: 10em;
    }
    .upcoming-events .events
    {
        height: auto;
    }
    .details
    {
        padding:0em;
    }
}
.nav-active
{
    transform: translateX(0%);
}
@keyframes nav{
    from
    {
        opacity: 0;
        transform: translateX(50px);
    }
    to
    {
        opacity: 1;
        transform: translateX(0px);
    }
    
}
.toggle .line1
{
    background-color: #ff2e00;
    transform: rotate(-45deg) translate(-5px,9px);

}
.toggle .line2
{
    opacity: 0;

}
.toggle .line3
{
    background-color: #ff2e00;
    transform: rotate(45deg) translate(-5px,-9px);

}
