@media screen and (max-width: 1024px)
{
    .nav-links
    {
        width: 60%;
    }
    .contact form
    {
        margin-left: 15em;
    }
    .logo
    {
        margin: 0;
    }
}
@media screen and (max-width:768px)
{
    body
    {
        overflow-x: hidden;
    }
    .preloader
    {
        padding: 15em;
    padding-left: 8em;
    }
    
    .nav-links
    {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #ff7300;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 65%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li
    {
        opacity: 1;
    }
    .nav-links li a
    {
        color:rgb(250, 248, 246) ;
    }
    
    .burger
    {
        display: block;
        cursor: pointer;
    }
    .about
    {
        height: 100vh;
    }
    .contact form
    {
        width: 100%;
        margin-left: 0em;
        height: 110vh;
    }
    .contact{
        height:200vh
    }
    .details
    {
        padding:0em;
    }
}
.nav-active
{
    transform: translateX(0%);
}
@keyframes nav{
    from
    {
        opacity: 0;
        transform: translateX(50px);
    }
    to
    {
        opacity: 1;
        transform: translateX(0px);
    }
    
}
.toggle .line1
{
    background-color: rgb(87, 3, 3);
    transform: rotate(-45deg) translate(-5px,9px);

}
.toggle .line2
{
    opacity: 0;

}
.toggle .line3
{
    background-color: rgb(85, 14, 28);
    transform: rotate(45deg) translate(-5px,-9px);

}
