*
{
    margin: 0;
    padding-top: 0;
    box-sizing: border-box;
    font-family: 'MuseoModerno', cursive;
}
nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 8vh;
    background-color: #ff7300;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 1;
    position: fixed;
}
.logo
{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}
.nav-links
{
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.nav-links li
{
    list-style: none;

}
.nav-links a
{
    color:  rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 17px;
    position: relative;
}
.nav-links a::after
{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.4s ease;
  transform-origin: bottom right;
  background-color: #000000;

}
.nav-links a:hover::after
{
  transform-origin:bottom left;
  transform: scaleX(1);
}
.burger
{
    display: none;
}
.burger div
{
    width: 25px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    transition: all 0.3s ease;
}
.slideshow-container {
    padding-top: 8vh;
    background-color: antiquewhite;
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
.about
{
  
    text-align: center;
    padding-top: 8vh;
    width: 100%;
    height: 50vh;
    background-color: antiquewhite;
}
.about h2
{
    padding: 0.5em;
    color: #ff7300;
}
.about p{
  padding-left: 2em;
  padding-right:2em ;
}
div.gallery {
  margin-top: 8vh;

border: 1px solid #ccc;
float: left;
width: 180px;
}

div.gallery:hover {
border: 1px solid #777;
}

div.gallery img {
width: 100%;
height: auto;
}

div.desc {
padding: 15px;
text-align: center;
}


