@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
*
{
    margin: 0;
    padding-top: 0;
    box-sizing: border-box;
    font-family: 'Texturina', serif;
    
}
.preloader
{
    margin: 0;
    padding: 15em;
    padding-left: 36em;
    background: #134074;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 2;

}
.preloader .loader {
  color: #ff3300;
  text-align: center;
  padding-top: 2rem;
    border: 16px solid #134074;
  border-bottom: 16px solid #ff3300;
  border-top: 16px solid #ff3300;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;

}
.preload-finish
{
    opacity: 0;
    pointer-events: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 8vh;
    background-color: #134074;
    z-index: 1;
    position: fixed;
    padding-left: 1em;
    padding-right: 1em;
}
.logo
{
    color: #ff2e00;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
    margin: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: flex-start;
    
}
.logo a
{
  text-decoration: none;
  color: #fff;
  margin-top: 1.5vh;
  text-align: center;
  font-family: 'Texturina', serif;

}
.logo img
{
  margin-top: .3vh;
  margin-right: 0.5em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
}
.nav-links
{
    display: flex;
    justify-content: space-around;
    width: 60%;
    padding-top: 1vh;
}
.nav-links li
{
    list-style: none;

}
.nav-links .active
{
  color:  rgb(252, 65, 8);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    position: relative;
    font-family: 'Original Surfer', cursive;
}
.nav-links a
{
    color:  rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 17px;
    position: relative;
    font-family: 'Texturina', serif;
}
.nav-links a::after
{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.4s ease;
  transform-origin: bottom right;
  background-color: #ff2e00;

}
.nav-links a:hover::after
{
  transform-origin:bottom left;
  transform: scaleX(1);
}
.burger
{
    display: none;
}
.burger div
{
    width: 25px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    transition: all 0.3s ease;
    border-radius: 55%;
}

/*image carousel*/
.slideshow-container {
    padding-top: 8vh;
    background:linear-gradient(to right,#134074d7,#234bcd9d,#03ddfcb9);
    filter: blur(0px);
    max-width: 100%;
    position: relative;
    margin: 0;
    transition: all 0.5s ease-in-out;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    transition: cubic-bezier(0.23, 1, 0.320, 1) all 0.5s;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color:#ff2e00;
    display: none;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  /* .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  } */
  
  /* The dots/bullets/indicators */
  /* .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  } */
  
  /* .active, .dot:hover {
    background-color: #717171;
  }
   */
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/*gallery*/
/* Position the image container (needed to position the left and right arrows) */
.gallery {
  position: absolute;
  margin-top: 8vh;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}
.gal{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.gal:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.img {
  float: left;
  width: 16.66%;
  max-height: 50%;
  
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
/*end of gallery*/

/*social cards*/
.social-card
{
  background:linear-gradient(to bottom right,#134074,#234bcd,#03ddfc);
  background-attachment: fixed;
  background-size: 100%;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.upcoming-events
{
  margin: 1em;
  border-radius: 10px;
  position: relative;
  height: 90%;
  width: 20%;
  background-color: #fff5;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  overflow:hidden ;
  
  
}
.upcoming-events .head
{
  position: relative;
  width: 100%;
  height: 20%;
  border-bottom: 1px solid #134074;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#134074;
}
.upcoming-events .head h2
{
  font-family: 'Texturina', serif;
}
.upcoming-events .events
{position: relative;
  height: 80%;
  width: 100%;
  padding-left: 30px;
}
.upcoming-events .events ol{
position: relative;
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
color: rgb(194, 21, 21) ;
font-size: 20px;

}
.upcoming-events .events ol li{
  font-family: 'Texturina', serif;
}

  /* end of social section */
